<div fxLayout="column" style="overflow: hidden;">
  <mat-toolbar>
    <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
    <span style="margin-left: 8px">{{path || 'Arquivos'}}</span>
    <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
    <span class="spacer"></span>
    <button mat-icon-button color="primary" matTooltip="Atualizar">
      <mat-icon class="pointer" (click)="update()">cached</mat-icon>
    </button>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple style="display: none;"
      (change)="onFileSelected($event)" #upload />
    <button mat-icon-button color="primary" matTooltip="Upload" (click)="upload.click()">
      <mat-icon class="pointer">cloud_upload</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Criar nova pasta">
      <mat-icon class="pointer" (click)="openNewFolderDialog()">create_new_folder</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Opções" [matMenuTriggerFor]="menu">
      <mat-icon class="pointer">more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <div>
    <div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch" ng2FileDrop
      [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      class="well my-drop-zone">
      <div class="content" fxFlex fxLayout="row">
        <mat-grid-list [responsiveCols]="{xs: 1, sm: 2, md: 3, lg: 5, xl: 7}" rowHeight="100px" fxFlex>
          <mat-grid-tile *ngFor="let element of fileElements" class=file-or-folder style="padding: 10px">
            <mat-card class="box">
              <mat-checkbox color="primary" class="checkbox" [(ngModel)]="element.checked"></mat-checkbox>
              <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}"
                #menuTrigger="matMenuTrigger"></span>
              <div fxLayout="column" fxLayoutAlign="space-between center" (click)="navigate(element)"
                (contextmenu)="openMenu($event, menuTrigger)">
                <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="element.isFolder"
                  style="color:goldenrod">folder</mat-icon>
                <mat-icon color="primary" class="file-or-folder-icon pointer" *ngIf="!element.isFolder"
                  (click)="download(element)" matTooltip="Download" style="color:gray">insert_drive_file
                </mat-icon>

                <span>{{element.name}}</span>
                <mat-progress-bar mode="determinate" *ngIf="!element.isFolder && element.progress"
                  [value]="element.progress"></mat-progress-bar>
                <span *ngIf="!element.isFolder && element.progress">{{element.progress}}%</span>
              </div>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let element of uploader.queue" class=file-or-folder>
            <span [matMenuTriggerFor]="uploadMenu" [matMenuTriggerData]="{element: element}"
              #menuTrigger="matMenuTrigger"></span>
            <div fxLayout="column" fxLayoutAlign="space-between center" (click)="navigate(element)"
              (contextmenu)="openMenu($event, menuTrigger)">

              <mat-icon color="primary" class="file-or-folder-icon pointer">insert_drive_file
                <i *ngIf="element.isSuccess" class="material-icons icon-check">check_circle</i>
                <i *ngIf="element.isError" class="material-icons icon-error">error</i>
                <i *ngIf="element.isCancel" class="material-icons icon-warning">warning</i>
              </mat-icon>

              <span>{{element?.file?.name}}</span>
              <mat-progress-bar mode="determinate" [value]="element.progress"></mat-progress-bar>
              <span>{{element.progress}}%</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>

<mat-menu #uploadMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button (click)="element.upload()" [disabled]="element.isReady || element.isUploading || element.isSuccess"
      mat-menu-item>
      <mat-icon>cloud_upload</mat-icon>
      <span>Enviar</span>
    </button>
    <button mat-menu-item>
      <mat-icon (click)="element.remove()">delete</mat-icon>
      <span>Apagar</span>
    </button>
    <button (click)="element.cancel()" [disabled]="!element.isUploading" mat-menu-item>
      <mat-icon>cancel</mat-icon>
      <span>Cancelar</span>
    </button>
    <button [disabled]="!element.isSuccess" mat-menu-item>
      <mat-icon>gradient</mat-icon>
      <span>Ripar</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">
      <mat-icon>open_with</mat-icon>
      <span>Move To</span>
    </button>
    <button mat-menu-item (click)="downloadFolder(element)" *ngIf="element.isFolder">
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item (click)="download(element)" *ngIf="!element.isFolder">
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog(element)">
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="cut(element)">
      <mat-icon svgIcon="file_cut"></mat-icon>
      <span>Cut</span>
    </button>
    <button mat-menu-item (click)="copy(element)">
      <mat-icon>file_copy</mat-icon>
      <span>Copy</span>
    </button>
    <button mat-menu-item *ngIf="element.isFolder" (click)="paste(element)" [disabled]="!clipboard">
      <mat-icon>assignment</mat-icon>
      <span>Paste</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <ng-container *ngFor="let element of fileElements">
      <button *ngIf="element.isFolder && element.id !== self.id" mat-menu-item
        (click)="moveElement(self, element)">{{element.name}}</button>
    </ng-container>
  </ng-template>
</mat-menu>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="downloads()">
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item (click)="cuts()">
      <mat-icon svgIcon="file_cut"></mat-icon>
      <span>Cut</span>
    </button>
    <button mat-menu-item (click)="copies()">
      <mat-icon>file_copy</mat-icon>
      <span>Copy</span>
    </button>
    <button mat-menu-item (click)="paste()" [disabled]="!clipboard">
      <mat-icon>assignment</mat-icon>
      <span>Paste</span>
    </button>
    <button mat-menu-item (click)="deleteElements()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>