.my-drop-zone {
  border: dotted 3px white;
}
.nv-file-over {
  border: dotted 3px blue;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-or-folder {
  padding: 8px;
  overflow: hidden;
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

%icon-status {
  position: relative;
  top: -35px;
  right: -50px;
}

.checkbox {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
}

.box {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border-color: rgb(211, 211, 211);
}

.icon-check {
  @extend %icon-status;
  color: green;
}
.icon-error {
  @extend %icon-status;
  color: red;
}
.icon-warning {
  @extend %icon-status;
  color: yellow;
}
.icon-play {
  @extend %icon-status;
  color: main-color;
}

.icon-download {
  position: absolute;
  color: white;
  top: 45px;
  font-size: 120%;
  visibility: hidden;
}

.icon-download:hover {
  visibility: visible;
}
