<mat-card style="margin: 10px;">
  <app-file-explorer [fileElements]="fileElements | async" [path]="currentPath" [canNavigateUp]="canNavigateUp"
    (folderAdded)="addFolder($event)" (elementRemoved)="removeElement($event)"
    (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()" (elementRenamed)="renameElement($event)"
    (elementMoved)="moveElement($event)" (updateEmitter)="update()" [uploader]="uploader"
    (downloadEmitter)="download($event)">
  </app-file-explorer>
</mat-card>